<br>
<br>
<link href="/css/home.css" rel="stylesheet">
<link href="/css/ef.css" rel="stylesheet">
<div class="container">
  <p style="font-size: 128px; font-weight: bold;">papamira</p>
  <span class="move-image">お辞儀するのだBOTER :-)</span>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header h4">お品書き(前菜)</div>
        <div class="card-body">
          <h5 class="card-title">雄叫び</h5>
          <p class="card-text">
            <a href="/s/ppap" class="h4"><img src="png/s.png" alt="S"/>しゅとらせらと鯖 <%= @s["s"] %></a><br><br>
            <a href="/b/ppap" class="h4"><img src="png/b.png" alt="B"/>ぶりっじへっど鯖 <%= @s["b"] %></a><br><br>
            <a href="/v/ppap" class="h4"><img src="png/v.png" alt="V"/>ぼるてぃっしゅ鯖 <%= @s["v"] %></a><br><br>
            <a href="/g/ppap" class="h4"><img src="png/g.png" alt="G"/>ごーるどEX鯖 <%= @s["g"] %></a><br>
            <br>
            <br>
          </p>
        </div>
      </div>
    </div>
    <br>

    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header h4">お品書き(メイン)</div>
        <div class="card-body">
          <h5 class="card-title">ストリーミング</h5>
          <p class="card-text">
            <a href="/s/stream" class="h4"><img src="png/s.png" alt="S"/>しゅとらせらと鯖 <%= @s["s"] %></a><br><br>
            <a href="/b/stream" class="h4"><img src="png/b.png" alt="B"/>ぶりっじへっど鯖 <%= @s["b"] %></a><br><br>
            <a href="/v/stream" class="h4"><img src="png/v.png" alt="V"/>ぼるてぃっしゅ鯖 <%= @s["v"] %></a><br><br>
            <a href="/g/stream" class="h4"><img src="png/g.png" alt="G"/>ごーるどEX鯖 <%= @s["g"] %></a><br><br>
            <a href="/all/stream" class="h4"><img src="png/all.png" alt="all"/>全鯖まとめて <%= @s["all"] %></a><br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-12 col-xl-4">
      <div class="card">
        <div class="card-header h4">お品書き(野菜)</div>
        <div class="card-body">
          <h5 class="card-title">検索</h5>
          <p class="card-text">
          <br>
          <br>
          <a href="#" class="h4" data-toggle="modal" data-target="#modal-search" data-backdrop="false"><img src="png/search.png" alt="info"/>キーワード</a><br>
          <br>
          <br>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-4">
      <div class="card">
      <div class="card-header h4">お品書き(飲み物)</div>
      <div class="card-body">
        <h5 class="card-title">統計データ</h5>
          <p class="card-text">
            <a href="/info" class="h4"><img src="png/info.png" alt="info"/>おたけび統計</a><br><br>
            <a href="/ranking" class="h4"><img src="png/rank.png" alt="rank"/>ランキング</a><br><br>
            <a href="/words" class="h4"><img src="png/words.png" alt="words"/>検索の履歴</a><br>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-4">
      <div class="card">
      <div class="card-header h4">お品書き(デザート)</div>
      <div class="card-body">
        <h5 class="card-title">その他</h5>
        <p class="card-text">
          <a href="/help" class="h4"><img src="png/help.png" alt="help"/>ヘルプ</a><br><br>
          <a href="/dev" class="h4"><img src="png/dev.png" alt="dev"/>devel</a><br><br>
          <a href="/form" class="h4"><img src="png/form.png" alt="form"/>お問い合わせ</a><br>
        </p>
      </div>
    </div>
    </div>
    </div>
  <br>
  <div class="row">
    <div class="col-sm-12 col-xl-4">
      <div class="card">
      <div class="card-header h4">お品書き(お酒)</div>
      <div class="card-body">
        <h5 class="card-title">外部Link</h5>
        <p class="card-text">
          <a href="https://jbbs.shitaraba.net/bbs/read.cgi/netgame/15672/1550199441/" target="brank" class="h4"><img src="png/mes.png" alt="mes"/>質問,要望,意見</a><br><br>
          <a href="https://jbbs.shitaraba.net/bbs/read.cgi/netgame/15672/1516430523/" target="brank" class="h4"><img src="png/mes.png" alt="mes"/>過去ログ</a><br><br>
          <a href="https://www.youtube.com/watch?v=0E00Zuayv9Q" class="h4"><img src="/png/pico-icon.png" alt="ppap-youtube" class="image-ppap"/>PPAP/PIKOTARO</a><br>
        </p>
        </div>
      </div>
      <br>
    </div>
    <div class="col-sm-12 col-xl-4">
      <div class="card">
      <div class="card-header h4">おみやげ</div>
      <div class="card-body">
        <h5 class="card-title">ぐいぐい</h5>
        <p class="card-text">
          <a href="/gui" class="h4"><img src="png/gui.png" alt="gui"/>GUI版</a><br><br>
          <a href="/gui/update" class="h4"><img src="png/update.png" alt="gui_update"/>GUI更新情報</a><br>
          <br>
          <br>
        </p>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div id="info_parts" class="collapse.show">
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="card">
        <div class="card-header h4">お知らせ、最近の更新</div>
        <div class="card-body h5">
        <%= @release_note %>
        <span><a href="/update">more..</a></span>
        </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/home.js"></script>
<script src="/js/scrolltopcontrol.js"></script>
